/*
 * Emitfy REST API
 * API REST Emitfy (camelCase inglês). Modelo Conta × Assinatura: - Keys e webhooks na assinatura (`/webhooks`, sem companyId na URL) - Emissão e catálogo sob `/companies/{companyId}/...` Emissão inicial é por tipo: `POST /companies/{companyId}/nfse`, `/nfe`, `/nfce`, `/cte`, `/cte-os`, `/mdfe`. `/invoices` é a consulta unificada (list/get) e também PATCH (rascunho/rejected), POST emit (retry) e POST cancel. Nota autorizada ou cancelada é imutável. Carta de correção (CC-e) é outro endpoint (`POST .../nfe/{id}/correction`) — não use emit para CC-e. Envelope: `{ \"success\": true, \"data\": ... }` / `{ \"success\": false, \"error\": { \"code\", \"message\", \"details\" } }`. Validação Zod → HTTP 422 + `VALIDATION_ERROR`. Fonte para agentes: https://api.emitfy.com/llms-full.txt 
 *
 * The version of the OpenAPI document: 0.7.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.emitfy.generated.api;

import com.emitfy.generated.ApiClient;
import com.emitfy.generated.ApiException;
import com.emitfy.generated.ApiResponse;
import com.emitfy.generated.Configuration;
import com.emitfy.generated.Pair;

import com.emitfy.generated.model.MdfeCancelRequest;
import com.emitfy.generated.model.MdfeCloseRequest;
import com.emitfy.generated.model.MdfeDriver;
import com.emitfy.generated.model.MdfeEmitRequest;
import com.emitfy.generated.model.MdfePayment;
import com.emitfy.generated.model.MdfeUnloadCity;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.24.0")
public class MdfeApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

  public MdfeApi() {
    this(Configuration.getDefaultApiClient());
  }

  public MdfeApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    InputStream responseBody = ApiClient.getResponseBody(response);
    String body = null;
    try {
      body = responseBody == null ? null : new String(responseBody.readAllBytes());
    } finally {
      if (responseBody != null) {
        responseBody.close();
      }
    }
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response, InputStream responseBody) throws ApiException {
    if (responseBody == null) {
      throw new ApiException(new IOException("Response body is empty"));
    }
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(responseBody, file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Add document to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeUnloadCity  (required)
   * @throws ApiException if fails to make API call
   */
  public void mdfeAddDocument(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeUnloadCity mdfeUnloadCity) throws ApiException {
    mdfeAddDocument(companyId, id, mdfeUnloadCity, null);
  }

  /**
   * Add document to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeUnloadCity  (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void mdfeAddDocument(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeUnloadCity mdfeUnloadCity, Map<String, String> headers) throws ApiException {
    mdfeAddDocumentWithHttpInfo(companyId, id, mdfeUnloadCity, headers);
  }

  /**
   * Add document to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeUnloadCity  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeAddDocumentWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeUnloadCity mdfeUnloadCity) throws ApiException {
    return mdfeAddDocumentWithHttpInfo(companyId, id, mdfeUnloadCity, null);
  }

  /**
   * Add document to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeUnloadCity  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeAddDocumentWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeUnloadCity mdfeUnloadCity, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = mdfeAddDocumentRequestBuilder(companyId, id, mdfeUnloadCity, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("mdfeAddDocument", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder mdfeAddDocumentRequestBuilder(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeUnloadCity mdfeUnloadCity, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'companyId' is set
    if (companyId == null) {
      throw new ApiException(400, "Missing the required parameter 'companyId' when calling mdfeAddDocument");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling mdfeAddDocument");
    }
    // verify the required parameter 'mdfeUnloadCity' is set
    if (mdfeUnloadCity == null) {
      throw new ApiException(400, "Missing the required parameter 'mdfeUnloadCity' when calling mdfeAddDocument");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/companies/{companyId}/mdfe/{id}/documents"
        .replace("{companyId}", ApiClient.urlEncode(companyId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(mdfeUnloadCity);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Add driver to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeDriver  (required)
   * @throws ApiException if fails to make API call
   */
  public void mdfeAddDriver(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeDriver mdfeDriver) throws ApiException {
    mdfeAddDriver(companyId, id, mdfeDriver, null);
  }

  /**
   * Add driver to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeDriver  (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void mdfeAddDriver(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeDriver mdfeDriver, Map<String, String> headers) throws ApiException {
    mdfeAddDriverWithHttpInfo(companyId, id, mdfeDriver, headers);
  }

  /**
   * Add driver to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeDriver  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeAddDriverWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeDriver mdfeDriver) throws ApiException {
    return mdfeAddDriverWithHttpInfo(companyId, id, mdfeDriver, null);
  }

  /**
   * Add driver to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeDriver  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeAddDriverWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeDriver mdfeDriver, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = mdfeAddDriverRequestBuilder(companyId, id, mdfeDriver, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("mdfeAddDriver", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder mdfeAddDriverRequestBuilder(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeDriver mdfeDriver, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'companyId' is set
    if (companyId == null) {
      throw new ApiException(400, "Missing the required parameter 'companyId' when calling mdfeAddDriver");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling mdfeAddDriver");
    }
    // verify the required parameter 'mdfeDriver' is set
    if (mdfeDriver == null) {
      throw new ApiException(400, "Missing the required parameter 'mdfeDriver' when calling mdfeAddDriver");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/companies/{companyId}/mdfe/{id}/drivers"
        .replace("{companyId}", ApiClient.urlEncode(companyId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(mdfeDriver);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Add payment to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfePayment  (required)
   * @throws ApiException if fails to make API call
   */
  public void mdfeAddPayment(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfePayment mdfePayment) throws ApiException {
    mdfeAddPayment(companyId, id, mdfePayment, null);
  }

  /**
   * Add payment to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfePayment  (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void mdfeAddPayment(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfePayment mdfePayment, Map<String, String> headers) throws ApiException {
    mdfeAddPaymentWithHttpInfo(companyId, id, mdfePayment, headers);
  }

  /**
   * Add payment to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfePayment  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeAddPaymentWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfePayment mdfePayment) throws ApiException {
    return mdfeAddPaymentWithHttpInfo(companyId, id, mdfePayment, null);
  }

  /**
   * Add payment to MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfePayment  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeAddPaymentWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfePayment mdfePayment, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = mdfeAddPaymentRequestBuilder(companyId, id, mdfePayment, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("mdfeAddPayment", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder mdfeAddPaymentRequestBuilder(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfePayment mdfePayment, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'companyId' is set
    if (companyId == null) {
      throw new ApiException(400, "Missing the required parameter 'companyId' when calling mdfeAddPayment");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling mdfeAddPayment");
    }
    // verify the required parameter 'mdfePayment' is set
    if (mdfePayment == null) {
      throw new ApiException(400, "Missing the required parameter 'mdfePayment' when calling mdfeAddPayment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/companies/{companyId}/mdfe/{id}/payments"
        .replace("{companyId}", ApiClient.urlEncode(companyId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(mdfePayment);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Cancel MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeCancelRequest  (required)
   * @throws ApiException if fails to make API call
   */
  public void mdfeCancel(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCancelRequest mdfeCancelRequest) throws ApiException {
    mdfeCancel(companyId, id, mdfeCancelRequest, null);
  }

  /**
   * Cancel MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeCancelRequest  (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void mdfeCancel(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCancelRequest mdfeCancelRequest, Map<String, String> headers) throws ApiException {
    mdfeCancelWithHttpInfo(companyId, id, mdfeCancelRequest, headers);
  }

  /**
   * Cancel MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeCancelRequest  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeCancelWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCancelRequest mdfeCancelRequest) throws ApiException {
    return mdfeCancelWithHttpInfo(companyId, id, mdfeCancelRequest, null);
  }

  /**
   * Cancel MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeCancelRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeCancelWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCancelRequest mdfeCancelRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = mdfeCancelRequestBuilder(companyId, id, mdfeCancelRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("mdfeCancel", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder mdfeCancelRequestBuilder(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCancelRequest mdfeCancelRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'companyId' is set
    if (companyId == null) {
      throw new ApiException(400, "Missing the required parameter 'companyId' when calling mdfeCancel");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling mdfeCancel");
    }
    // verify the required parameter 'mdfeCancelRequest' is set
    if (mdfeCancelRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'mdfeCancelRequest' when calling mdfeCancel");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/companies/{companyId}/mdfe/{id}"
        .replace("{companyId}", ApiClient.urlEncode(companyId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(mdfeCancelRequest);
      localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Close MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeCloseRequest  (required)
   * @throws ApiException if fails to make API call
   */
  public void mdfeClose(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCloseRequest mdfeCloseRequest) throws ApiException {
    mdfeClose(companyId, id, mdfeCloseRequest, null);
  }

  /**
   * Close MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeCloseRequest  (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void mdfeClose(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCloseRequest mdfeCloseRequest, Map<String, String> headers) throws ApiException {
    mdfeCloseWithHttpInfo(companyId, id, mdfeCloseRequest, headers);
  }

  /**
   * Close MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeCloseRequest  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeCloseWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCloseRequest mdfeCloseRequest) throws ApiException {
    return mdfeCloseWithHttpInfo(companyId, id, mdfeCloseRequest, null);
  }

  /**
   * Close MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param mdfeCloseRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeCloseWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCloseRequest mdfeCloseRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = mdfeCloseRequestBuilder(companyId, id, mdfeCloseRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("mdfeClose", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder mdfeCloseRequestBuilder(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, @javax.annotation.Nonnull MdfeCloseRequest mdfeCloseRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'companyId' is set
    if (companyId == null) {
      throw new ApiException(400, "Missing the required parameter 'companyId' when calling mdfeClose");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling mdfeClose");
    }
    // verify the required parameter 'mdfeCloseRequest' is set
    if (mdfeCloseRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'mdfeCloseRequest' when calling mdfeClose");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/companies/{companyId}/mdfe/{id}/close"
        .replace("{companyId}", ApiClient.urlEncode(companyId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(mdfeCloseRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Consult MDF-e at SEFAZ
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @throws ApiException if fails to make API call
   */
  public void mdfeConsult(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id) throws ApiException {
    mdfeConsult(companyId, id, null);
  }

  /**
   * Consult MDF-e at SEFAZ
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void mdfeConsult(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    mdfeConsultWithHttpInfo(companyId, id, headers);
  }

  /**
   * Consult MDF-e at SEFAZ
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeConsultWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id) throws ApiException {
    return mdfeConsultWithHttpInfo(companyId, id, null);
  }

  /**
   * Consult MDF-e at SEFAZ
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeConsultWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = mdfeConsultRequestBuilder(companyId, id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("mdfeConsult", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder mdfeConsultRequestBuilder(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'companyId' is set
    if (companyId == null) {
      throw new ApiException(400, "Missing the required parameter 'companyId' when calling mdfeConsult");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling mdfeConsult");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/companies/{companyId}/mdfe/{id}/consult"
        .replace("{companyId}", ApiClient.urlEncode(companyId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Emit MDF-e (modelo 58)
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param mdfeEmitRequest  (required)
   * @param idempotencyKey  (optional)
   * @throws ApiException if fails to make API call
   */
  public void mdfeCreate(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull MdfeEmitRequest mdfeEmitRequest, @javax.annotation.Nullable String idempotencyKey) throws ApiException {
    mdfeCreate(companyId, mdfeEmitRequest, idempotencyKey, null);
  }

  /**
   * Emit MDF-e (modelo 58)
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param mdfeEmitRequest  (required)
   * @param idempotencyKey  (optional)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void mdfeCreate(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull MdfeEmitRequest mdfeEmitRequest, @javax.annotation.Nullable String idempotencyKey, Map<String, String> headers) throws ApiException {
    mdfeCreateWithHttpInfo(companyId, mdfeEmitRequest, idempotencyKey, headers);
  }

  /**
   * Emit MDF-e (modelo 58)
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param mdfeEmitRequest  (required)
   * @param idempotencyKey  (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeCreateWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull MdfeEmitRequest mdfeEmitRequest, @javax.annotation.Nullable String idempotencyKey) throws ApiException {
    return mdfeCreateWithHttpInfo(companyId, mdfeEmitRequest, idempotencyKey, null);
  }

  /**
   * Emit MDF-e (modelo 58)
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param mdfeEmitRequest  (required)
   * @param idempotencyKey  (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeCreateWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull MdfeEmitRequest mdfeEmitRequest, @javax.annotation.Nullable String idempotencyKey, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = mdfeCreateRequestBuilder(companyId, mdfeEmitRequest, idempotencyKey, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("mdfeCreate", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder mdfeCreateRequestBuilder(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull MdfeEmitRequest mdfeEmitRequest, @javax.annotation.Nullable String idempotencyKey, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'companyId' is set
    if (companyId == null) {
      throw new ApiException(400, "Missing the required parameter 'companyId' when calling mdfeCreate");
    }
    // verify the required parameter 'mdfeEmitRequest' is set
    if (mdfeEmitRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'mdfeEmitRequest' when calling mdfeCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/companies/{companyId}/mdfe"
        .replace("{companyId}", ApiClient.urlEncode(companyId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (idempotencyKey != null) {
      localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(mdfeEmitRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @throws ApiException if fails to make API call
   */
  public void mdfeGet(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id) throws ApiException {
    mdfeGet(companyId, id, null);
  }

  /**
   * Get MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void mdfeGet(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    mdfeGetWithHttpInfo(companyId, id, headers);
  }

  /**
   * Get MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeGetWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id) throws ApiException {
    return mdfeGetWithHttpInfo(companyId, id, null);
  }

  /**
   * Get MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param id  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeGetWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = mdfeGetRequestBuilder(companyId, id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("mdfeGet", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder mdfeGetRequestBuilder(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'companyId' is set
    if (companyId == null) {
      throw new ApiException(400, "Missing the required parameter 'companyId' when calling mdfeGet");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling mdfeGet");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/companies/{companyId}/mdfe/{id}"
        .replace("{companyId}", ApiClient.urlEncode(companyId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param page  (optional, default to 1)
   * @param pageSize  (optional)
   * @param status  (optional)
   * @throws ApiException if fails to make API call
   */
  public void mdfeList(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String status) throws ApiException {
    mdfeList(companyId, page, pageSize, status, null);
  }

  /**
   * List MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param page  (optional, default to 1)
   * @param pageSize  (optional)
   * @param status  (optional)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void mdfeList(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String status, Map<String, String> headers) throws ApiException {
    mdfeListWithHttpInfo(companyId, page, pageSize, status, headers);
  }

  /**
   * List MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param page  (optional, default to 1)
   * @param pageSize  (optional)
   * @param status  (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeListWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String status) throws ApiException {
    return mdfeListWithHttpInfo(companyId, page, pageSize, status, null);
  }

  /**
   * List MDF-e
   * 
   * @param companyId ID da empresa (CNPJ operacional) no path (required)
   * @param page  (optional, default to 1)
   * @param pageSize  (optional)
   * @param status  (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> mdfeListWithHttpInfo(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String status, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = mdfeListRequestBuilder(companyId, page, pageSize, status, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("mdfeList", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder mdfeListRequestBuilder(@javax.annotation.Nonnull UUID companyId, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer pageSize, @javax.annotation.Nullable String status, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'companyId' is set
    if (companyId == null) {
      throw new ApiException(400, "Missing the required parameter 'companyId' when calling mdfeList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/companies/{companyId}/mdfe"
        .replace("{companyId}", ApiClient.urlEncode(companyId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
